:root {
  --primary-text-color: #212121;
  --title-text-color: #757575;
  --accent-color: #2196f3;
  --noactive-button: #f5f4fa;
  --accent-white-color: #ffffff;
}
body {
  margin: 0;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
}
/*ховаємо непотрібні елементи*/
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
} /*сховали*/

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.container.flex {
  display: flex;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.list {
  padding: 0; /*то само додала для .auth*/
  margin: 0; /*то само додала для .auth*/
  list-style: none; /*для всех, у кого есть class="list"*/
}
.list a {
  /*прийшлося всі transition навішати сюди*/
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.list img {
  display: block;
}

/*header*/
header {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  display: flex;
  justify-content: space-around;
  align-items: center;

  border-bottom: 1px solid #ececec;
}
.logo {
  color: #000000;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;

  /*margin-left: auto;*/
}
.logo-web {
  color: var(--accent-color);
}
.header {
  display: flex;
  align-items: center;
}
.nav {
  display: flex;
  margin-left: 93px;
}
.nav .item {
  margin-right: 50px;
}
.nav .item:last-child {
  margin-right: 0;
}

.header a {
  text-decoration: none;
}
.nav .list {
  /* не працює */
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}
.nav.list a {
  color: var(--primary-text-color);
}
.nav a {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav a:hover,
.nav a:focus {
  color: var(--accent-color);
}
.nav .list.current {
  color: var(--accent-color);
  background-color: var(--accent-white-color);
}
.nav .item {
  position: relative;
}
.list.current::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background: var(--accent-color);
  bottom: -1px;
  left: 0;
}
.auth {
  padding: 0;
  margin-left: auto;
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
  align-items: center;
}
.auth .link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.auth .link:hover,
.auth .link:focus {
  color: var(--accent-color);
}
.auth-nav {
  padding: 0;
  margin: 0;
  list-style: none;
}

.auth-nav .link {
  display: flex;
  text-decoration: none;
  color: var(--title-text-color);
  align-items: center;
}
.auth-nav .link:hover {
  fill: var(--accent-color);
}
.auth .auth-nav + .auth-nav {
  margin-left: 50px;
}

.link .auth-icon {
  fill: var(--title-text-color);
  margin-right: 10px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link:hover .auth-icon,
.link:focus .auth-icon {
  fill: var(--accent-color);
}
/*main for first page*/

/*hero*/
.hero {
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/hero.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  color: var(--accent-white-color);
  background-color: #2f303a;
  padding-top: 200px;
  padding-bottom: 200px;
  max-width: 1600px;
  margin: 0 auto;
}
.hero .container {
  display: block;
}
.hero h1 {
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.hero .button {
  /*кнопочка відриття модального вікна*/
  background-color: var(--accent-color);
  color: var(--accent-white-color);
  border: 1px solid var(--accent-color);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  padding: 10px 32px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero .button:hover,
.hero .button:focus {
  background-color: rgba(24, 140, 232, 1);
  cursor: pointer;
}
/*main*/

.section-title {
  margin-top: 0;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

/*флекс-контейнер для всіх трьох розділів*/
.container .list {
  display: flex;
  flex-wrap: wrap;
}
/*icons*/
.features-item::before {
  display: block;
  content: "";
  height: 120px;
  background-color: var(--noactive-button);
  border-radius: 4px;

  background-size: scale-down;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 30px;
}
.features-item::before:last-child {
  margin-right: 0;
}
.icon-antena::before {
  background-image: url("../images/antenna\ 1.svg");
}
.icon-clock::before {
  background-image: url("../images/clock\ 1.svg");
}
.icon-diagram::before {
  background-image: url("../images/diagram\ 1.svg");
}
.icon-astronaut::before {
  background-image: url("../images/astronaut\ 1.svg");
}

.features-item {
  width: calc((100% - 90px) / 4);
  margin-right: 30px;
}
.features-item:nth-child(4n) {
  margin-right: 0;
}
.features-item:nth-last-child(-n + 4) {
  margin-bottom: 0;
}
.features-title {
  margin-top: 0;
  margin-bottom: 10px;
  color: var(--primary-text-color);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
}
.features-text {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1.71;
  font-size: 14px;
  color: var(--title-text-color);
}

/*we-do*/
.we-do.section {
  padding-top: 0;
}

.we-do-item {
  width: 370px;
  margin-right: 30px;
}
.we-do-item:nth-child(3n) {
  margin-right: 0;
}
.we-do-item:nth-last-child(-n + 4) {
  margin-bottom: 0;
}
.we-do img {
  width: 370px;
}
.we-do-link .we-do-box {
  position: relative;
  display: flex; /*вирівняла текст на ::before*/
  justify-content: center; /*вирівняла текст на ::before*/
  align-items: flex-end; /*вирівняла текст на ::before*/
}
.we-do-box::before {
  /*заслонка*/
  display: inline-block;
  position: absolute;
  content: "";
  width: 100%;
  height: 71px;
  bottom: 0;

  background: rgba(47, 48, 58, 0.8);
}
.we-do-box h3 {
  position: absolute;
  padding: 27px 0;
  margin: 0;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--accent-white-color);
}
/*team*/
.team {
  background-color: #f5f4fa;
}
.team-item {
  background-color: var(--accent-white-color);
  width: calc((100% - 90px) / 4);
  margin-right: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-item:nth-child(4n) {
  margin-right: 0;
}
.team-item:nth-last-child(-n + 4) {
  margin-bottom: 0;
}
.team img {
  width: 270px;
}
.team-title {
  padding: 30px 0;
  text-align: center;
}
.team h3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  margin-top: 0;
  margin-bottom: 10px;
}

.team p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  color: var(--title-text-color);
  margin-top: 0;
  margin-bottom: 16px;
}

.team-title .list {
  justify-content: center;
}
/*icons*/
.team-social-icons {
  margin-right: 10px;
}
.team-social-icons:last-child {
  margin-right: 0;
}
.team-social-icon-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--accent-white-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-social-icon-link:hover,
.team-social-icon-link:focus {
  background-color: var(--accent-color);
}
a .link-icon {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-social-icon-link:hover .link-icon,
.team-social-icon-link:focus .link-icon {
  fill: var(--accent-white-color);
}
/*customers*/
.customers {
  display: block;
}

.customers-item {
  width: calc((100% - (30px * 5)) / 6);
  margin-right: 30px;
}
.customers-item:last-child {
  margin-right: 0;
}
.customer-icon {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customers-item-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customers-item-link:hover,
.customers-item-link:focus {
  border: 1px solid var(--accent-color);
}
.customers-item-link:hover .customer-icon,
.customers-item-link:focus .customer-icon {
  fill: var(--accent-color);
}

/* for second page*/
.project {
  display: block;
}

.portfolio-button {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 0;
  margin-bottom: 50px;
  padding: 0;
}

.portfolio-button .list:not(:last-child) {
  margin-right: 8px;
}
.project button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  list-style: none;
  cursor: pointer;
  background-color: var(--noactive-button);
  color: var(--primary-text-color);
  text-decoration: none;
  border-radius: 4px;
  border: none;
  padding: 6px 22px;
  box-shadow: 0 4 4 0 rgba(0, 0, 0, 0.25);
  /*transition на background-color та color не працює*/
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.project button:hover,
.project button:focus {
  background-color: var(--accent-color);
  color: var(--accent-white-color);
  box-shadow: 0 4 4 0 rgba(0, 0, 0, 0.25);
}
/*приклади робіт*/
.portfolio.list {
  display: flex;
  flex-wrap: wrap;
}
.portfolio-item {
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
}
.portfolio-item:nth-child(3n) {
  margin-right: 0;
}
.portfolio-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
.item-link {
  display: block;
  overflow: hidden;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.item-link:hover,
.item-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  opacity: 1;
}

.item-link:hover .item-overlay-text,
.item-link:focus .item-overlay-text {
  opacity: 1;
}

.item-overlay {
  position: relative;
  overflow: hidden;
}

.item-overlay::before {
  display: inline-block;
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  opacity: 0;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.item-link:hover .item-overlay::before,
.item-link:focus .item-overlay::before {
  transform: translateY(0%);
  opacity: 1;
}
.item-overlay-text {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--accent-white-color);
  padding-right: 30px;
  padding-left: 30px;
  margin-top: 0;
  margin-bottom: 0%;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.item-link:hover .item-overlay-text,
.item-link:focus .item-overlay-text {
  opacity: 1;
}
.item-text {
  padding: 20px 24px;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}
.portfolio.list h2 {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-top: 0;
  margin-bottom: 4px;
}
.portfolio.list .item-text-project {
  color: var(--title-text-color);
  font-size: 16px;
  line-height: 1.88;
  margin-top: 0px;
  margin-bottom: 0px;
}

/*footer*/
.footer {
  background-color: #2f303a;
  padding: 60px 0;
  display: flex;
}

.footer-contacts {
  display: inline-block;
}
.footer .container .list {
  display: block;
}
.footer .logo {
  display: block;
  color: var(--accent-white-color);
  text-decoration: none;
  margin-bottom: 17px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer .container .list {
  display: inline-block;
  padding-top: 10px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address {
  font-style: normal;
  text-decoration: none;
  color: var(--accent-white-color);
}

.footer a:hover,
.footer a:focus {
  color: var(--accent-color);
}
.footer .container .list li {
  margin-bottom: 9px;
  line-height: 24px;
}
.footer .container .list li:last-child {
  margin-bottom: 0;
}
.footer .container h2 {
  color: var(--accent-white-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-top: 12px;
}
.list-footer {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}
/*icons in footer*/
.icons-footer {
  display: inline-block;
  margin-left: 70px;
  padding-top: 0;
}
/* додала transition: border-radius і почали з'являтися кути від квадрата*/
.footer-social-icons {
  margin-right: 10px;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social-icons:last-child {
  margin-right: 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social-icons:hover,
.footer-social-icons:focus {
  border-radius: 50%;
  background-color: var(--accent-color);
}

.social-icon-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-icon-link .link-icon {
  fill: var(--accent-white-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social-icons:hover .link-icon,
.footer-social-icons:focus .link-icon {
  fill: var(--accent-white-color);
}

.backdrop {
  /*задаємо стилі для заслони*/
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
}
.backdrop.is-hidden {
  opacity: 0; /*робить заслону прозорою, клікі не проходять*/
  pointer-events: none; /*пропускає клікі*/
}
.modal {
  /*робимо модальне вікно*/
  position: absolute;
  width: 528px;
  height: 581px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--accent-white-color);
}
.modal-close {
  /*кнопочка закриття модального вікна*/
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  width: 30px;
  height: 30px;
  margin: 8px;

  background-color: var(--accent-white-color);
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
